.container {

display: flex;
justify-content: space-between;

}

.buuton {
    color: #000 ;
    background-color: #feca30;
    border-radius: 40px;
    display: inline-block;
    padding: 30px 120px 30px 30px;
    font-family: "verdana";

    font-weight: bold;
    text-decoration: none;
}

.buuton:hover {
    background-color: #fff;
    border: 2px solid #000;
}

.menu {
    font-size: 14px;
}

.menu2 {
    font-size: 14px;
}